<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.mapper.BoardMapper">


	<!-- 외부 조인을 사용하여 얻은 검색 결과에 대한 매핑을 정의한다. -->
	<resultMap type="Board" id="boardMap">
		<id property="no" column="no" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="goodPoint" column="goodPoint" />
		<result property="badPoint" column="badPoint" />
		<result property="regDate" column="reg_date" />
		<association property="user" javaType="users">
		<result property="id" column="id" />
		<result property="nickName" column="nickName" />
		</association>
	</resultMap>

	<!-- 부모 객체와 관계 객체를 작성하는 데 필요한 모든 레코드를 검색하도록 외부 조인을 사용한 SQL을 정의한다. -->

	<select id="read" resultMap="boardMap">
		SELECT u.id, u.nickName, b.no,
		b.title, b.content, b.goodPoint, b.badPoint, b.reg_date
		FROM Users u
		INNER JOIN Board b ON u.id = b.users_id
		WHERE
		b.no = #{no}
	</select>
	
	<select id="userRead" resultMap="boardMap">
		SELECT u.id, u.nickName, b.no,
		b.title, b.content, b.goodPoint, b.badPoint, b.reg_date
		FROM Users u
		INNER JOIN Board b ON u.id = b.users_id
		WHERE
		u.no = #{board.user.no}
	</select>

	<select id="list" resultMap="boardMap">
		SELECT u.nickName, b.no, b.title,
		b.content, b.goodPoint, b.badPoint, b.reg_date
		FROM Users u INNER JOIN
		Board b ON u.id = b.users_id
	</select>

	<select id="getListWithPaging" resultMap="boardMap"> SELECT u.nickName, u.id, b.no, b.title,
           b.content, b.goodPoint, b.badPoint, b.reg_date
    FROM Users u INNER JOIN Board b ON u.id = b.users_id
    ORDER BY b.no DESC
    OFFSET #{offset} ROWS FETCH NEXT 10 ROWS ONLY
</select>

	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM Board
	</select>
	
	<select id="getMyListWithPaging" resultMap="boardMap">
	SELECT u.nickName, u.id, b.no, b.title,
           b.content, b.goodPoint, b.badPoint, b.reg_date
    FROM Users u INNER JOIN Board b ON u.id = b.users_id
    WHERE b.users_id = #{board.user.id, jdbcType=VARCHAR}
    ORDER BY b.no DESC
    OFFSET #{offset} ROWS FETCH NEXT 10 ROWS ONLY
</select>

	<select id="getMyTotalCount" resultType="int">
		SELECT COUNT(*) FROM Board WHERE users_id = #{board.user.id, jdbcType=VARCHAR}
	</select>
	
	<select id="create">
		INSERT INTO BOARD(no, title, content, users_id) VALUES(board_SEQ.nextval, #{title}, #{content}, #{usersId})
	</select>
	
	<select id="update">
		UPDATE BOARD SET title = #{title}, content = #{content} WHERE no = #{no}
	</select>
	
	<select id="delete">
		DELETE FROM BOARD WHERE no = #{no}
	</select>
	
	

</mapper>